Repository mattycraig/nuxt-theme-builder: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(release): v1.3.1 (#17)
  CHANGELOG.md
  app/app.vue
  app/components/editor/preset/Selector.vue
  app/components/layout/Navbar.vue
  app/components/preview/viewport/Settings.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(ci): restrict ISR route rules to Vercel production
  .gitignore
  nuxt.config.ts
Due: eslint --fix

fix(ci): scope ISR route rules to vercel production
  .gitignore
  nuxt.config.ts
Due: eslint --fix

chore(release): v1.3.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix(release): read notes from changelog
  .github/workflows/release.yml
Due: prettier --write

Potential fix for pull request finding
  CHANGELOG.md
Due: prettier --write

chore(release): v1.3.2
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
Due: prettier --write

fix(seo): tighten indexing strategy for demo routes
  app/components/layout/Navbar.vue
  app/components/shared/CategoryIndex.vue
  app/components/showcase/PageLayout.vue
  app/layouts/default.vue
  app/layouts/preview.vue
  app/pages/ai.vue
  app/pages/tools/color-converter.vue
  app/pages/tools/contrast-checker.vue
  app/pages/tools/index.vue
  app/pages/tools/palette-generator.vue
  app/pages/tools/palette-viewer.vue
  app/utils/seoDescriptions.ts
  nuxt.config.ts
  server/api/__sitemap__/urls.ts
  shared/constants/routes.ts
  tests/unit/shared/routes.test.ts
Due: eslint --fix

fix(seo): tighten indexing strategy for demo routes (#20)
  CHANGELOG.md
  app/components/layout/Navbar.vue
  app/components/shared/CategoryIndex.vue
  app/components/showcase/PageLayout.vue
  app/layouts/default.vue
  app/layouts/preview.vue
  app/pages/ai.vue
  app/pages/tools/color-converter.vue
  app/pages/tools/contrast-checker.vue
  app/pages/tools/index.vue
  app/pages/tools/palette-generator.vue
  app/pages/tools/palette-viewer.vue
  app/utils/seoDescriptions.ts
  nuxt.config.ts
  server/api/__sitemap__/urls.ts
  shared/constants/routes.ts
  tests/unit/shared/routes.test.ts
Due: eslint --fix, prettier --write

chore: remove nightly e2e workflow, changelog, and release tooling
  .github/workflows/e2e-nightly.yml
  .github/workflows/release.yml
  AGENTS.md
  CHANGELOG.md
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

test: increase vitest test and hook timeouts to 30s
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

chore(deps): update dependencies april 2026
  .nuxtrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: new neutral color palettes (#27)
  app/types/theme.ts
  app/utils/colorPalettes.ts
  shared/constants/theme.ts
  tests/unit/shared/constants/theme.test.ts
Due: eslint --fix

fix(store): keep saved themes and undo history across reloads
  app/components/editor/SavedThemes.vue
  app/components/editor/Toolbar.vue
  app/stores/theme.ts
  tests/e2e/ai-generate.spec.ts
  tests/e2e/editor-workflows.spec.ts
  tests/e2e/fullscreen-preview.spec.ts
  tests/e2e/preset-navigation.spec.ts
  tests/e2e/smoke/app-smoke.spec.ts
  tests/e2e/smoke/persistence-smoke.spec.ts
  tests/e2e/theme-saving.spec.ts
  tests/unit/stores/theme.test.ts
Due: eslint --fix

fix(preview): show the current route's source and dedupe source requests
  app/composables/useSourceCode.ts
  tests/unit/composables/useSourceCode.test.ts
Due: eslint --fix

fix(ai): offer every palette in the system prompt and send each prompt once
  app/composables/useAiChat.ts
  app/data/help.md
  server/utils/aiSystemPrompt.ts
  tests/unit/composables/useAiChat.test.ts
  tests/unit/server/utils/aiSystemPrompt.test.ts
Due: eslint --fix, prettier --write

refactor: derive font registration from shared constants and drop dead layout code
  app/layouts/ai.vue
  app/pages/ai.vue
  app/pages/coming-soon.vue
  app/pages/index.vue
  app/pages/templates/changelog.vue
  app/pages/templates/login.vue
  app/utils/defaults.ts
  nuxt.config.ts
  shared/constants/theme.ts
Due: eslint --fix

docs: correct README, CONTRIBUTING, SECURITY, and repo config drift
  .changelogenrc
  .env.example
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: prettier --write

fix(app): stop showing the cookie notice inside the preview iframe
  app/composables/useCookieConsent.ts
  tests/e2e/ai-generate.spec.ts
  tests/unit/composables/useCookieConsent.test.ts
Due: eslint --fix

chore(deps): update dependencies and migrate to AI SDK 7
  .claude/agents/test-writer.md
  .claude/rules/ai-feature.md
  .claude/rules/testing.md
  .claude/skills/add-ai-model/SKILL.md
  .nuxtrc
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  app/utils/colorConversion.ts
  knip.json
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  server/api/ai/generate.post.ts
  server/api/highlight.post.ts
  server/utils/aiErrorHandler.ts
  server/utils/aiGenerate.ts
  tests/unit/composables/useAiChat.test.ts
  tests/unit/composables/useSourceCode.test.ts
  tests/unit/server/utils/aiErrorHandler.test.ts
  tests/unit/server/utils/aiGenerate.test.ts
Due: eslint --fix, prettier --write

fix(test): stop Vitest from silently running zero tests after a build
  vitest.config.ts
Due: eslint --fix

test(preview): cover the usePreviewIframe wiring, not just its handler
  tests/unit/composables/usePreviewIframe.test.ts
Due: eslint --fix

test(e2e): fix specs broken by the dependency update and an AI key race
  .claude/rules/testing.md
  tests/e2e/ai-generate.spec.ts
  tests/e2e/editor-workflows.spec.ts
  tests/e2e/smoke/app-smoke.spec.ts
  tests/e2e/theme-saving.spec.ts
Due: eslint --fix, prettier --write

fix(content): link the contact page's contributing guide to CONTRIBUTING.md
  app/data/contact.md
Due: prettier --write

chore: enforce LF checkouts, lint .mjs on commit, add a security contact
  .gitattributes
  .github/ISSUE_TEMPLATE/config.yml
  .lintstagedrc.json
Due: prettier --write

chore: drop AGENTS.md and the Copilot-era dev-workflow scripts
  .claude/README.md
  .claude/skills/docs-sync/SKILL.md
  .github/labeler.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  scripts/dev-workflow.ps1
  scripts/dev-workflow.sh
Due: prettier --write

chore(deps): update sharp to 0.35.4 for two high-severity advisories
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: move every action to its current Node 24 major and fix ignored inputs
  .claude/rules/github-ci.md
  .claude/skills/maintenance/SKILL.md
  .github/lighthouse/lighthouserc.json
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  .github/workflows/lighthouse.yml
  .github/workflows/security.yml
  .github/workflows/stale.yml
  .github/workflows/welcome.yml
Due: prettier --write

feat(ai): offer current models and recover from retired saved models
  .claude/rules/ai-feature.md
  .claude/skills/add-ai-model/SKILL.md
  app/composables/useAiSettings.ts
  app/types/ai.ts
  server/api/ai/generate.post.ts
  server/utils/aiGenerate.ts
  tests/e2e/ai-generate.spec.ts
  tests/e2e/smoke/ai-smoke.spec.ts
  tests/unit/composables/useAiChat.test.ts
  tests/unit/composables/useAiSettings.test.ts
  tests/unit/server/utils/aiGenerate.test.ts
Due: eslint --fix, prettier --write

fix(preview): start preview iframes on a prerendered shell page
  .claude/rules/preview-and-layouts.md
  CLAUDE.md
  app/app.vue
  app/components/preview/FullscreenOverlay.vue
  app/composables/usePreviewIframe.ts
  app/layouts/preview.vue
  app/pages/preview.vue
  nuxt.config.ts
  shared/constants/routes.ts
  tests/e2e/smoke/preview-smoke.spec.ts
  tests/unit/composables/usePreviewIframe.test.ts
Due: eslint --fix, prettier --write

fix(build): strip console calls from client bundles again under Vite 8
  nuxt.config.ts
Due: eslint --fix

chore(deps): drop the @vercel/nft 0.27 override
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: make conduct and security reports private and renew security.txt
  .claude/skills/maintenance/SKILL.md
  CODE_OF_CONDUCT.md
  SECURITY.md
  public/.well-known/security.txt
Due: prettier --write

ci: audit the production site with Lighthouse and fail on redirects
  .github/workflows/lighthouse.yml
  README.md
Due: prettier --write

fix: audit the live site with Lighthouse and keep incident reports private (#31)
  .claude/skills/maintenance/SKILL.md
  .github/workflows/lighthouse.yml
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  public/.well-known/security.txt
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,vue}
  prettier --write: any of: *.{json,md,yaml,yml,css}
