Repository mattycraig/nuxt-theme-builder: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,vue}": ["eslint --fix"],
  "*.{json,md,yaml,yml,css}": ["prettier --write"]
}

feat: update content across documentation and improve SEO descriptions for clarity and engagement
  app/data/about.md
  app/data/contact.md
  app/data/help.md
  app/data/privacy.md
  app/pages/about.vue
  app/pages/contact.vue
  app/pages/help.vue
  app/pages/privacy.vue
  app/utils/seoDescriptions.ts
Due: eslint --fix, prettier --write

feat: update .prettierignore to include additional ignored files for better project organization
  .prettierignore
Due: none

feat: enhance accessibility with improved aria-labels and update theme color configuration
  app/app.config.ts
  app/components/ai/Chat.vue
  app/components/ai/SettingsPanel.vue
  app/components/blocks/Card.vue
  app/components/blocks/components/BlogMagazine.vue
  app/components/blocks/components/BlogMinimal.vue
  app/components/blocks/components/HeroSearch.vue
  app/components/blocks/components/HeroSplit.vue
  app/components/editor/SavedThemes.vue
  app/components/editor/preset/Selector.vue
  app/components/shared/CategoryIndex.vue
  app/pages/learn/index.vue
  app/pages/templates/chat.vue
  app/utils/seoDescriptions.ts
  nuxt.config.ts
  package.json
  tests/unit/components/editor/SavedThemes.test.ts
Due: eslint --fix, prettier --write

feat(security): Enhance security and error handling across the application
  app/components/shared/CodeBlock.vue
  app/composables/useThemeApply.ts
  app/utils/cssGenerator.ts
  app/utils/security.ts
  package.json
  pnpm-lock.yaml
  server/api/ai/generate.post.ts
  server/utils/aiErrorHandler.ts
  tests/unit/components/editor/SavedThemes.test.ts
  tests/unit/server/utils/aiErrorHandler.test.ts
  tests/unit/utils/cssGenerator.test.ts
  tests/unit/utils/security.test.ts
Due: eslint --fix, prettier --write

feat: add navigation utilities and AI system prompt for theme generation
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/e2e-nightly.yml
  .node-version
  CONTRIBUTING.md
  app/components/ai/ThemePreview.vue
  app/components/tools/PaletteGenerator.vue
  app/composables/usePreviewIframe.ts
  app/layouts/preview.vue
  app/types/theme.ts
  app/utils/iframeProtocol.ts
  app/utils/navigation.ts
  app/utils/navigation/blocks.ts
  app/utils/navigation/components.ts
  app/utils/navigation/index.ts
  app/utils/navigation/learn.ts
  app/utils/navigation/shared.ts
  app/utils/navigation/templates.ts
  app/utils/navigation/tools.ts
  app/utils/navigation/utilities.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  server/utils/aiSystemPrompt.ts
  shared/constants/theme.ts
  tests/unit/server/api/ai/generate.test.ts
  tests/unit/server/api/source/path.test.ts
Due: eslint --fix, prettier --write

feat(tests): remove outdated technical debt docs for server API, component, layout tests
  .github/TECHNICAL_DEBT/01-server-api-testing-strategy.md
  .github/TECHNICAL_DEBT/02-component-testing-infrastructure.md
  .github/TECHNICAL_DEBT/03-layout-and-page-testing-strategy.md
  TESTING-GAPS-ANALYSIS.md
Due: prettier --write

feat: add initial project setup with GitHub workflows, issue templates, and code of conduct
  .github/CODEOWNERS
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-a.yml
  .github/DISCUSSION_TEMPLATE/show-and-tell.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/ui_bug.yml
  .github/labeler.yml
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/visual-regression.yml
  .github/workflows/welcome.yml
  CODE_OF_CONDUCT.md
  SECURITY.md
  tests/e2e/visual/visual-regression.spec.ts
Due: eslint --fix, prettier --write

feat: add Vercel configuration for deployment and ISR settings
  nuxt.config.ts
  vercel.json
Due: eslint --fix, prettier --write

docs: add dev workflow automation, changelog, and update project docs
  .agents/skills/document-writer/SKILL.md
  .agents/skills/document-writer/references/content-patterns.md
  .agents/skills/document-writer/references/writing-style.md
  .changelogenrc
  .github/copilot-instructions.md
  .github/instructions/dev-workflow-agent.instructions.md
  .github/prompts/dev-workflow.prompt.md
  .github/workflows/release.yml
  .vscode/chat-modes.json
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  package.json
  scripts/dev-workflow.ps1
  scripts/dev-workflow.sh
Due: prettier --write

fix(build): remove invalid functions config from vercel.json
  nuxt.config.ts
  vercel.json
Due: eslint --fix, prettier --write

fix(config): resolve knip false positives for Nuxt implicit deps
  knip.json
Due: prettier --write

fix(preview): prevent sidebar toggle leaking into preview iframe
  .env.example
  README.md
  app/components/blocks/Card.vue
  app/components/editor/Panel.vue
  app/components/preview/FullscreenOverlay.vue
  app/components/preview/viewport/Controls.vue
  app/components/shared/AppLogo.vue
  app/components/shared/CategoryIndex.vue
  app/components/shared/CodeBlock.vue
  app/components/shared/HiddenRouteWrapper.vue
  app/composables/usePreviewIframe.ts
  app/error.vue
  app/layouts/default.vue
  app/pages/index.vue
  app/pages/templates/chat.vue
  app/pages/templates/dashboard.vue
  app/types/components.ts
  app/utils/iframeProtocol.ts
  app/utils/navigation/blocks.ts
  app/utils/navigation/templates.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  tests/unit/components/shared/HiddenRouteWrapper.test.ts
  tests/unit/composables/usePreviewIframe.test.ts
  tests/unit/utils/navigation.test.ts
Due: eslint --fix, prettier --write

ci: use node-server preset for E2E builds to avoid Vercel symlink error
  .github/workflows/ci.yml
  .github/workflows/e2e-nightly.yml
  .github/workflows/visual-regression.yml
  playwright.config.ts
Due: eslint --fix, prettier --write

ci: remove CodeQL and Dependency Review workflows
  .github/workflows/codeql.yml
  .github/workflows/security.yml
Due: prettier --write

fix(preview): prevent sidebar toggle leaking into preview iframe (#3)
  .env.example
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/e2e-nightly.yml
  .github/workflows/security.yml
  .github/workflows/visual-regression.yml
  README.md
  app/components/blocks/Card.vue
  app/components/editor/Panel.vue
  app/components/preview/FullscreenOverlay.vue
  app/components/preview/viewport/Controls.vue
  app/components/shared/AppLogo.vue
  app/components/shared/CategoryIndex.vue
  app/components/shared/CodeBlock.vue
  app/components/shared/HiddenRouteWrapper.vue
  app/composables/usePreviewIframe.ts
  app/error.vue
  app/layouts/default.vue
  app/pages/index.vue
  app/pages/templates/chat.vue
  app/pages/templates/dashboard.vue
  app/types/components.ts
  app/utils/iframeProtocol.ts
  app/utils/navigation/blocks.ts
  app/utils/navigation/templates.ts
  nuxt.config.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/unit/components/shared/HiddenRouteWrapper.test.ts
  tests/unit/composables/usePreviewIframe.test.ts
  tests/unit/utils/navigation.test.ts
Due: eslint --fix, prettier --write

chore: release v1.0.0 — pre-launch hardening
  .gitignore
  CHANGELOG.md
  app/app.vue
  app/layouts/default.vue
  app/pages/index.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  public/og-image.png
  sentry.client.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write

chore: remove @sentry/nuxt — overkill for pre-launch
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write

chore: remove visual regression workflow — overkill for pre-launch
  .github/workflows/visual-regression.yml
  AGENTS.md
  README.md
Due: prettier --write

fix(e2e): use Enter key in AI smoke test to avoid notification overlay
  .github/workflows/codeql.yml
  .github/workflows/security.yml
  tests/e2e/smoke/ai-smoke.spec.ts
Due: eslint --fix, prettier --write

chore: release v1.0.0 — pre-launch hardening (#4)
  .github/workflows/codeql.yml
  .github/workflows/security.yml
  .github/workflows/visual-regression.yml
  .gitignore
  AGENTS.md
  CHANGELOG.md
  README.md
  app/app.vue
  app/layouts/default.vue
  app/pages/index.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  public/og-image.png
  tests/e2e/smoke/ai-smoke.spec.ts
Due: eslint --fix, prettier --write

chore(release): v1.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(sitemap): add dynamic routes for blocks, components, and learn articles
  nuxt.config.ts
  server/api/__sitemap__/urls.ts
  shared/constants/routes.ts
  tests/unit/shared/routes.test.ts
Due: eslint --fix

fix(content): prerender learn pages to avoid better-sqlite3 in Vercel Lambda
  nuxt.config.ts
Due: eslint --fix

fix(server): resolve Shiki WASM and payload.json errors on Vercel
  nuxt.config.ts
  server/api/highlight.post.ts
Due: eslint --fix

fix(blocks): correct code block language from html to vue
  app/components/blocks/Card.vue
Due: eslint --fix

chore(release): v1.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: post-launch Vercel runtime errors (Shiki WASM, better-sqlite3, payload.json, sitemap) (#6)
  CHANGELOG.md
  app/components/blocks/Card.vue
  nuxt.config.ts
  package.json
  server/api/__sitemap__/urls.ts
  server/api/highlight.post.ts
  shared/constants/routes.ts
  tests/unit/shared/routes.test.ts
Due: eslint --fix, prettier --write

fix(api): resolve shiki 500 errors on Vercel serverless
  nuxt.config.ts
Due: eslint --fix

fix(api): resolve shiki 500 errors on Vercel serverless (#7)
  nuxt.config.ts
Due: eslint --fix

test(e2e): fix all nightly and local test failures
  .github/workflows/e2e-nightly.yml
  playwright.config.ts
  tests/e2e/editor-workflows.spec.ts
  tests/e2e/fullscreen-preview.spec.ts
  tests/e2e/preset-navigation.spec.ts
  tests/e2e/smoke/ai-smoke.spec.ts
  tests/e2e/smoke/app-smoke.spec.ts
  tests/e2e/theme-saving.spec.ts
  tests/e2e/visual/visual-regression.spec.ts
  tests/e2e/visual/visual-regression.spec.ts-snapshots/blocks-index-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/components-desktop-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/components-mobile-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/components-tablet-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/home-dark-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/home-desktop-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/home-light-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/home-mobile-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/home-tablet-chromium-win32.png
Due: eslint --fix, prettier --write

chore(release): v1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

test(e2e): fix all nightly and local test failures — release v1.1.0 (#8)
  .github/workflows/e2e-nightly.yml
  CHANGELOG.md
  package.json
  playwright.config.ts
  tests/e2e/editor-workflows.spec.ts
  tests/e2e/fullscreen-preview.spec.ts
  tests/e2e/preset-navigation.spec.ts
  tests/e2e/smoke/ai-smoke.spec.ts
  tests/e2e/smoke/app-smoke.spec.ts
  tests/e2e/theme-saving.spec.ts
  tests/e2e/visual/visual-regression.spec.ts
  tests/e2e/visual/visual-regression.spec.ts-snapshots/blocks-index-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/components-desktop-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/components-mobile-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/components-tablet-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/home-dark-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/home-desktop-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/home-light-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/home-mobile-chromium-win32.png
  tests/e2e/visual/visual-regression.spec.ts-snapshots/home-tablet-chromium-win32.png
Due: eslint --fix, prettier --write

chore(release): v1.1.1
  .github/workflows/e2e-nightly.yml
  CHANGELOG.md
  modules/source-code-embed.ts
  package.json
  tests/unit/composables/useAiSettings.test.ts
Due: eslint --fix, prettier --write

chore(release): v1.1.1 (#11)
  .github/workflows/e2e-nightly.yml
  CHANGELOG.md
  modules/source-code-embed.ts
  package.json
  tests/unit/composables/useAiSettings.test.ts
Due: eslint --fix, prettier --write

chore(release): v1.3.0
  CHANGELOG.md
  app/app.vue
  app/components/editor/preset/Selector.vue
  app/components/layout/Navbar.vue
  app/components/preview/viewport/Settings.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(release): v1.3.1
  CHANGELOG.md
  package.json
Due: prettier --write
