Repository mattycraig/nuxt-theme-builder: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(editor): keep an edited theme when reloading without an active preset
  app/components/editor/preset/Selector.vue
  tests/unit/components/editor/PresetSelector.test.ts
Due: eslint --fix

feat(editor): generate custom color palettes from a base color
  .claude/rules/theme-system.md
  CLAUDE.md
  README.md
  app/components/editor/ColorPicker.vue
  app/components/editor/CustomPaletteColorInput.vue
  app/components/editor/CustomPalettes.vue
  app/components/editor/PaletteSwatches.vue
  app/components/editor/Panel.vue
  app/components/editor/SwatchStrip.vue
  app/composables/useAiChat.ts
  app/composables/usePreviewIframe.ts
  app/composables/useThemeExport.ts
  app/data/help.md
  app/stores/theme.ts
  app/types/theme.ts
  app/utils/colorConversion.ts
  app/utils/cssGenerator.ts
  app/utils/customPalettes.ts
  app/utils/paletteGenerator.ts
  content/learn/theming/color-palette-reference.md
  content/learn/theming/customize-colors.md
  content/learn/theming/export-and-share.md
  shared/constants/theme.ts
  tests/e2e/smoke/persistence-smoke.spec.ts
  tests/unit/components/editor/ColorPicker.test.ts
  tests/unit/components/editor/CustomPaletteColorInput.test.ts
  tests/unit/components/editor/CustomPalettes.test.ts
  tests/unit/components/editor/Panel.test.ts
  tests/unit/composables/useAiChat.test.ts
  tests/unit/composables/useThemeExport.test.ts
  tests/unit/stores/theme.test.ts
  tests/unit/types/theme.test.ts
  tests/unit/utils/__snapshots__/paletteGenerator.test.ts.snap
  tests/unit/utils/colorConversion.test.ts
  tests/unit/utils/cssGenerator.test.ts
  tests/unit/utils/customPalettes.test.ts
  tests/unit/utils/paletteGenerator.test.ts
Due: eslint --fix, prettier --write

feat(editor): generate custom color palettes from a base color (#32)
  .claude/rules/theme-system.md
  CLAUDE.md
  README.md
  app/components/editor/ColorPicker.vue
  app/components/editor/CustomPaletteColorInput.vue
  app/components/editor/CustomPalettes.vue
  app/components/editor/PaletteSwatches.vue
  app/components/editor/Panel.vue
  app/components/editor/SwatchStrip.vue
  app/components/editor/preset/Selector.vue
  app/composables/useAiChat.ts
  app/composables/usePreviewIframe.ts
  app/composables/useThemeExport.ts
  app/data/help.md
  app/stores/theme.ts
  app/types/theme.ts
  app/utils/colorConversion.ts
  app/utils/cssGenerator.ts
  app/utils/customPalettes.ts
  app/utils/paletteGenerator.ts
  content/learn/theming/color-palette-reference.md
  content/learn/theming/customize-colors.md
  content/learn/theming/export-and-share.md
  shared/constants/theme.ts
  tests/e2e/smoke/persistence-smoke.spec.ts
  tests/unit/components/editor/ColorPicker.test.ts
  tests/unit/components/editor/CustomPaletteColorInput.test.ts
  tests/unit/components/editor/CustomPalettes.test.ts
  tests/unit/components/editor/Panel.test.ts
  tests/unit/components/editor/PresetSelector.test.ts
  tests/unit/composables/useAiChat.test.ts
  tests/unit/composables/useThemeExport.test.ts
  tests/unit/stores/theme.test.ts
  tests/unit/types/theme.test.ts
  tests/unit/utils/__snapshots__/paletteGenerator.test.ts.snap
  tests/unit/utils/colorConversion.test.ts
  tests/unit/utils/cssGenerator.test.ts
  tests/unit/utils/customPalettes.test.ts
  tests/unit/utils/paletteGenerator.test.ts
Due: eslint --fix, prettier --write

fix(seo): render indexable pages outside the preview iframe
  .claude/rules/content-and-seo.md
  .claude/rules/preview-and-layouts.md
  .claude/rules/server-api.md
  .claude/skills/run-app/SKILL.md
  CLAUDE.md
  app/components/layout/PreviewToolbar.vue
  app/components/preview/FullscreenOverlay.vue
  app/composables/usePreviewIframe.ts
  app/layouts/default.vue
  nuxt.config.ts
  shared/constants/routes.ts
  tests/e2e/fullscreen-preview.spec.ts
  tests/e2e/smoke/persistence-smoke.spec.ts
  tests/e2e/smoke/preview-smoke.spec.ts
  tests/unit/composables/usePreviewIframe.test.ts
  tests/unit/nuxt-config.test.ts
  tests/unit/shared/routes.test.ts
Due: eslint --fix, prettier --write

ci: pass both messages to first-interaction v3
  .github/workflows/welcome.yml
Due: prettier --write

fix(seo): render indexable pages outside the preview iframe (#33)
  .claude/rules/content-and-seo.md
  .claude/rules/preview-and-layouts.md
  .claude/rules/server-api.md
  .claude/skills/run-app/SKILL.md
  CLAUDE.md
  app/components/layout/PreviewToolbar.vue
  app/components/preview/FullscreenOverlay.vue
  app/composables/usePreviewIframe.ts
  app/layouts/default.vue
  nuxt.config.ts
  shared/constants/routes.ts
  tests/e2e/fullscreen-preview.spec.ts
  tests/e2e/smoke/persistence-smoke.spec.ts
  tests/e2e/smoke/preview-smoke.spec.ts
  tests/unit/composables/usePreviewIframe.test.ts
  tests/unit/nuxt-config.test.ts
  tests/unit/shared/routes.test.ts
Due: eslint --fix, prettier --write

ci: pass both messages to first-interaction v3 (#34)
  .github/workflows/welcome.yml
Due: prettier --write

fix: stop publishing empty font files from cached builds
  .github/workflows/ci.yml
  nuxt.config.ts
  package.json
  scripts/check-font-assets.mjs
Due: eslint --fix, prettier --write

fix: stop publishing empty font files from cached builds (#35)
  .github/workflows/ci.yml
  nuxt.config.ts
  package.json
  scripts/check-font-assets.mjs
Due: eslint --fix, prettier --write

feat: redesign the homepage around a live theme preview
  app/components/home/Explore.vue
  app/components/home/Export.vue
  app/components/home/Hero.vue
  app/components/home/PromptDemo.vue
  app/components/home/Specimen.vue
  app/pages/index.vue
  app/utils/homePrompts.ts
  tests/unit/components/home/PromptDemo.test.ts
Due: eslint --fix

feat: redesign the homepage around a live theme preview (#36)
  app/components/home/Explore.vue
  app/components/home/Export.vue
  app/components/home/Hero.vue
  app/components/home/PromptDemo.vue
  app/components/home/Specimen.vue
  app/pages/index.vue
  app/utils/homePrompts.ts
  tests/unit/components/home/PromptDemo.test.ts
Due: eslint --fix

feat: show light and dark swatches in the homepage hero
  app/components/home/ModeSwatches.vue
  app/components/home/Specimen.vue
  app/utils/themeSwatches.ts
  tests/unit/utils/themeSwatches.test.ts
Due: eslint --fix

fix(editor): keep the sidebar toolbar sticky while scrolling
  app/components/editor/Panel.vue
  tests/e2e/smoke/app-smoke.spec.ts
Due: eslint --fix

style(editor): lay out my themes empty-state buttons side by side
  app/components/editor/SavedThemes.vue
Due: eslint --fix

feat: show light and dark swatches in the homepage hero (#37)
  app/components/home/ModeSwatches.vue
  app/components/home/Specimen.vue
  app/utils/themeSwatches.ts
  tests/unit/utils/themeSwatches.test.ts
Due: eslint --fix

fix(editor): keep the sidebar toolbar sticky while scrolling (#39)
  app/components/editor/Panel.vue
  tests/e2e/smoke/app-smoke.spec.ts
Due: eslint --fix

feat: add the app logo to the homepage hero
  app/components/home/Hero.vue
Due: eslint --fix

style(editor): lay out my themes empty-state buttons side by side (#38)
  app/components/editor/SavedThemes.vue
Due: eslint --fix

feat(preview): add pages for recent nuxt ui components
  app/components/showcase/components/ChatReasoning.vue
  app/components/showcase/components/ChatShimmer.vue
  app/components/showcase/components/ChatTool.vue
  app/components/showcase/components/InputRating.vue
  app/components/showcase/components/Listbox.vue
  app/components/showcase/components/ProgressGroup.vue
  app/components/showcase/components/Sidebar.vue
  app/components/showcase/components/Splitter.vue
  app/utils/navigation/components.ts
  app/utils/seoDescriptions.ts
  shared/constants/routes.ts
Due: eslint --fix

feat: add the app logo to the homepage hero (#40)
  app/components/home/Hero.vue
Due: eslint --fix

ci: only welcome genuine first-time contributors
  .github/workflows/welcome.yml
Due: prettier --write

feat(preview): add pages for recent nuxt ui components (#41)
  app/components/showcase/components/ChatReasoning.vue
  app/components/showcase/components/ChatShimmer.vue
  app/components/showcase/components/ChatTool.vue
  app/components/showcase/components/InputRating.vue
  app/components/showcase/components/Listbox.vue
  app/components/showcase/components/ProgressGroup.vue
  app/components/showcase/components/Sidebar.vue
  app/components/showcase/components/Splitter.vue
  app/utils/navigation/components.ts
  app/utils/seoDescriptions.ts
  shared/constants/routes.ts
Due: eslint --fix

test(seo): check a theme gallery page renders outside the preview iframe
  tests/e2e/smoke/preview-smoke.spec.ts
Due: eslint --fix

fix(editor): match the nuxt ui preset to nuxt ui's real colors
  app/utils/presets.ts
  tests/unit/stores/theme.test.ts
  tests/unit/utils/presets.test.ts
Due: eslint --fix

test(store): pin preset palette winning a same-named custom palette
  tests/unit/stores/theme.test.ts
Due: eslint --fix

ci: only welcome genuine first-time contributors (#42)
  .github/workflows/welcome.yml
Due: prettier --write

chore(seo): regenerate the nuxt ui theme share image
  public/og/themes/nuxt-ui.png
Due: none

fix(editor): match the nuxt ui preset to nuxt ui's real colors (#44)
  app/utils/presets.ts
  public/og/themes/nuxt-ui.png
  tests/unit/stores/theme.test.ts
  tests/unit/utils/presets.test.ts
Due: eslint --fix

feat(seo): add search and category filter to the theme gallery
  app/pages/themes/index.vue
  app/utils/navigation/index.ts
  app/utils/navigation/themes.ts
Due: eslint --fix

feat(seo): add search and category filter to the theme gallery (#45)
  app/pages/themes/index.vue
  app/utils/navigation/index.ts
  app/utils/navigation/themes.ts
Due: eslint --fix

feat(seo): add preview and save buttons to theme gallery cards
  app/components/themes/GalleryCard.vue
  app/composables/usePresetActions.ts
  app/pages/themes/[slug].vue
  app/pages/themes/index.vue
  app/stores/theme.ts
  tests/unit/composables/usePresetActions.test.ts
  tests/unit/stores/theme.test.ts
Due: eslint --fix

fix(seo): preview gallery themes in place instead of opening a template
  app/composables/usePresetActions.ts
  app/pages/themes/[slug].vue
  tests/unit/composables/usePresetActions.test.ts
Due: eslint --fix

fix(seo): preview themes in place on the theme detail page
  app/pages/themes/[slug].vue
Due: eslint --fix

fix(seo): repair broken breadcrumb icon on theme detail pages
  app/utils/navigation/themes.ts
  tests/unit/utils/navigation.test.ts
Due: eslint --fix

feat(seo): add preview and save buttons to theme gallery cards (#46)
  app/components/themes/GalleryCard.vue
  app/composables/usePresetActions.ts
  app/pages/themes/[slug].vue
  app/pages/themes/index.vue
  app/stores/theme.ts
  app/utils/navigation/themes.ts
  tests/unit/composables/usePresetActions.test.ts
  tests/unit/stores/theme.test.ts
  tests/unit/utils/navigation.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,vue}
  prettier --write: any of: *.{json,md,yaml,yml,css}
